.accordion {
    width: 700px;

    @media #{$screen-mobile} {
        width: 100%;
    }

    &__items {
        width: 100%;
        padding: 15px 0;
    }

    &__item {
        width: 100%;
        background-color: $white;
        position: relative;
        border-bottom: 1px solid $alto;
        transition: all .3s;
    }

    &__title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        & svg {
            transition: all .3s;
        }
    }

    &__item-title {
        font-weight: 600;
        font-size: 25px;
        line-height: 32px;
        color: $black;
        padding: 8px 0 15px;
        margin-bottom: 4px;
        position: relative;
        cursor: pointer;

        @media #{$screen-tablet} {
            font-size: $font-size-large;
            line-height: 28px;
            padding: 8px 5px 8px;
        }

        @media #{$screen-mobile} {
            font-size: $font-size-medium;
            line-height: 25px;
        }

        // &::after {
        //     position: absolute;
        //     content: "+";
        //     width: 72px;
        //     height: 60px;
        //     background-color: lightsalmon;
        //     right: -72px;
        //     top: 0;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;

        //     @media #{$screen-mobile} {
        //         right: 0;
        //         height: 100%;
        //     }
        // }


    }

    &__text-box {
        display: none;
    }

    &__item-text {
        padding: 0 0 10px;
        font-size: $font-size-normal;
        line-height: 23px;
        margin: 0 0 4px;

        @media #{$screen-mobile} {
            padding: 0 35px 8px 5px;
            margin: 0;
        }
    }

    &__item.accordion__item--active {
        & .accordion__title-box {
            & svg {
                transform: rotate(45deg);

                path {
                    stroke: $alto;
                }
            }
        }

        .accordion__text-box {
            display: block;
        }
    }
}