.achievements {
    padding: 100px 0;
    background-image: url("@img/achievements-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    @media #{$screen-tablet} {
        padding: 70px 0;
    }

    @media #{$screen-mobile} {
        padding: 50px 0;
    }

    &__title {
        @media #{$screen-mobile} {
            text-align: center;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        text-align: center;
        max-width: 865px;
        margin-bottom: 48px;

        @media #{$screen-mobile} {
            margin-bottom: 30px;
        }
    }

    &__list {
        display: flex;
        margin: 0 -43px;

        @media #{$screen-tablet} {
            margin: 0 -15px;
        }

        @media #{$screen-mobile} {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 50%;
        margin: 0 43px;

        @media #{$screen-tablet} {
            margin: 0 15px;
        }

        @media #{$screen-mobile} {
            flex: 0 1 100%;
            margin-bottom: 35px;
        }

        & a {
            margin-top: 40px;
            font-size: 24px;
            line-height: 29px;

            @media #{$screen-mobile} {
                margin-top: 20px;
                font-size: 18px;
                line-height: 25px;
            }
        }

        & button {
            margin-top: 20px;
        }
    }

    &__item-title {
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;

        @media #{$screen-mobile} {
            font-size: 20px;
            line-height: 25px;
        }
    }

}