.auditors-card {
    padding: 30px 40px;
    background-color: $bg-gray;
    height: 306px;

    @media #{$screen-tablet} {
        padding: 20px;
        height: 290px;
    }

    @media #{$screen-mobile} {
        padding: 20px 10px 20px;
        height: 240px;
    }

    &:hover {
        & .auditors-card__title {
            transition: all .2s;
            color: $accent;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media #{$screen-tablet} {
            margin-right: 10px;
        }
    }

    &__image {
        border-radius: 50%;
        margin-right: 30px;

        @media #{$screen-tablet} {
            margin-right: 20px;
        }

        @media #{$screen-mobile} {
            margin-right: 10px;
        }
    }

    &__header {
        max-width: 248px;
    }

    &__title {
        transition: all .2s;
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 8px;

        @media #{$screen-tablet} {
            font-size: $font-size-large;
            line-height: 25px;
        }

        @media #{$screen-mobile} {
            font-size: $font-size-medium;
            line-height: 20px;
        }
    }

    &__subtitle {
        color: $boulder;
        font-size: $font-size-large;
        line-height: 26px;

        @media #{$screen-mobile} {
            font-size: $font-size-normal;
            line-height: 20px;
        }
    }

}