.cases {
    margin: 150px 0;

    @media #{$screen-tablet} {
        margin: 50px 0;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 50px;

        @media #{$screen-tablet} {
            margin-bottom: 20px;
        }
    }

    &__list {
        @media #{$screen-mobile} {
            width: 100%;
        }
    }

    &__item {
        margin-bottom: 40px;

        @media #{$screen-tablet} {
            margin-bottom: 25px;
            width: 100%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}