.challenges {
    padding: 130px 0 0;

    &__info {
        display: flex;
        margin-bottom: 40px;
    }

    &__col {
        width: 600px;
        margin-right: 60px;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 26px;

        &:last-child {
            width: 459px;
            margin-right: 0;
        }
    }
}