.client {
    padding: 0 0 50px;

    @media #{$screen-mobile} {
        padding: 0 0 40px;
    }


    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__info {
        max-width: 600px;
        padding-top: 130px;

        @media #{$screen-tablet} {
            padding-top: 70px;
        }

        @media #{$screen-mobile} {
            max-width: 100%;
            padding-top: 40px;
        }
    }

    &__image {
        display: flex;
        flex: 0 1 auto;

        @media #{$screen-mobile} {
            display: none;
        }
    }

}