.clients {
    margin-bottom: 150px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        max-width: 590px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        max-width: 495px;
        margin-bottom: 28px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-item {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

}