.technologies {
    padding-bottom: 150px;
    background-image: url("@img/technologies-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media #{$screen-mobile} {
        padding-bottom: 50px;
    }

    &__inner {
        text-align: center;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__list {
        display: flex;
        flex-direction: column;

        @media #{$screen-tablet} {
            flex-direction: row;
        }

        @media #{$screen-mobile} {
            flex-direction: column;
        }
    }

    &__list-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -10px;
        margin-bottom: 20px;

        @media #{$screen-tablet} {
            flex-direction: column;
            flex: 1;
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;

        }
    }

    &__list-item {
        margin: 0 10px;

        @media #{$screen-tablet} {
            margin-bottom: 10px;
        }
    }

}