.universum-hero {
    padding: 40px 0 45px;
    background-image: url("@img/universum-hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

    @media #{$screen-mobile} {
        padding-top: 20px;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media #{$screen-mobile} {
            flex-direction: column;
        }
    }

    &__info {
        width: 678px;
        flex: 0 0 auto;
        margin-top: 50px;
        margin-right: 21px;

        @media #{$screen-tablet} {
            width: 400px;
        }

        @media #{$screen-mobile} {
            width: 100%;
            margin-top: 0;
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        color: $accent;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
    }

    &__title {
        margin-bottom: 57px;

        @media #{$screen-mobile} {
            margin-bottom: 30px;
        }
    }

    &__image-box {
        display: flex;
        flex: 0 0 auto;
    }

    &__image {
        align-self: center;
    }

    &__table {
        max-width: 1012px;
        border-collapse: collapse;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;

        @media #{$screen-tablet} {
            font-size: $font-size-large;
            line-height: 28px;
        }

        @media #{$screen-mobile} {
            font-size: $font-size-medium;
            line-height: 24px;
        }

        tr {
            &:first-child {
                td {
                    padding-top: 0;
                }
            }
        }

        td {
            border-bottom: 1px solid rgba($accent, .15);
            padding: 20px 0;

            @media #{$screen-mobile} {
                padding: 10px 0;
                vertical-align: top;
            }

            &:first-child {
                width: 310px;
                color: $boulder;

                @media #{$screen-tablet} {
                    width: 250px;
                }

                @media #{$screen-mobile} {
                    width: 100px;
                    padding-right: 10px;
                }
            }
        }

        a {
            font-weight: 400;
        }
    }
}